var/etc/admin.xml

<!ELEMENT acl         (ARRAY)*>
<!ELEMENT buttons     (ARRAY)*>
<!ELEMENT credentials (ARRAY)*>
<!ELEMENT fields      (ARRAY)*>
<!ELEMENT globals     (ARRAY)*>
<!ELEMENT keys        (ARRAY)*>
<!ELEMENT levels      (ARRAY)*>
<!ELEMENT messages    (ARRAY)*>
<!ELEMENT pages       (ARRAY)*>
<!ELEMENT rooms       (ARRAY)*>
<!ELEMENT vals        (ARRAY)*>
<config>
  <_cvs_level>@(#)$Id: admin.xml 631 2009-03-31 09:52:27Z pjf $</_cvs_level>
  <fields>
    <name>access_control.room</name>
    <clear>left</clear>
    <onchange>submit()</onchange>
    <type>popupMenu</type>
  </fields>
  <fields>
    <name>access_control.state</name>
    <type>radioGroup</type>
  </fields>
  <fields>
    <name>access_control.user_groups</name>
    <palign>left</palign>
    <sep>[% nbsp %][% nbsp %][% nbsp %]</sep>
    <type>groupMembership</type>
  </fields>
  <fields>
    <name>backup.device</name>
    <clear>left</clear>
    <onchange>submit()</onchange>
    <type>popupMenu</type>
  </fields>
  <fields>
    <name>backup.format</name>
    <onchange>submit()</onchange>
    <type>popupMenu</type>
  </fields>
  <fields>
    <name>backup.next_level</name>
    <clear>left</clear>
    <onchange>submit()</onchange>
    <type>popupMenu</type>
  </fields>
  <fields>
    <name>backup.operation</name>
    <clear>left</clear>
    <type>radioGroup</type>
  </fields>
  <fields>
    <name>backup.pathsDump</name>
    <clear>left</clear>
    <onchange>submit()</onchange>
    <type>popupMenu</type>
  </fields>
  <fields>
    <name>backup.pathsTar</name>
    <clear>left</clear>
    <required>1</required>
    <width>60</width>
  </fields>
  <fields>
    <name>backup.position</name>
    <clear>left</clear>
    <type>radioGroup</type>
  </fields>
  <fields>
    <name>backup.type</name>
    <clear>left</clear>
    <onchange>submit()</onchange>
    <type>popupMenu</type>
  </fields>
  <fields>
    <name>config.attr</name>
    <clear>left</clear>
    <onchange>submit()</onchange>
    <type>popupMenu</type>
  </fields>
  <fields>
    <name>config.level</name>
    <onchange>submit()</onchange>
    <type>popupMenu</type>
  </fields>
  <fields>
    <name>config.name</name>
    <clear>left</clear>
    <required>1</required>
    <width>32</width>
  </fields>
  <fields>
    <name>credentials.acct</name>
    <clear>left</clear>
    <onchange>submit()</onchange>
    <type>popupMenu</type>
  </fields>
  <fields>
    <name>credentials.driver</name>
    <clear>left</clear>
    <required>1</required>
    <validate>isValidIdentifier</validate>
    <width>40</width>
  </fields>
  <fields>
    <name>credentials.host</name>
    <clear>left</clear>
    <required>1</required>
    <validate>isValidHostname</validate>
    <width>40</width>
  </fields>
  <fields>
    <name>credentials.name</name>
    <clear>left</clear>
    <required>1</required>
    <validate>isValidIdentifier</validate>
    <width>40</width>
  </fields>
  <fields>
    <name>credentials.nameNew</name>
    <clear>left</clear>
    <required>1</required>
    <validate>isValidIdentifier</validate>
    <width>40</width>
  </fields>
  <fields>
    <name>credentials.password</name>
    <clear>left</clear>
    <validate>isValidPassword</validate>
    <width>40</width>
  </fields>
  <fields>
    <name>credentials.port</name>
    <clear>left</clear>
    <max_value>65536</max_value>
    <min_value>1</min_value>
    <required>1</required>
    <validate>isValidInteger isBetweenValues</validate>
    <width>40</width>
  </fields>
  <fields>
    <name>credentials.user</name>
    <clear>left</clear>
    <validate>isValidIdentifier</validate>
    <width>40</width>
  </fields>
  <fields>
    <name>globals.newParam</name>
  </fields>
  <fields>
    <name>keys_view.vals</name>
    <edit>1</edit>
    <select>right</select>
    <type>table</type>
  </fields>
  <fields>
    <name>mail_aliases.alias</name>
    <onchange>submit()</onchange>
    <stepno>0</stepno>
    <type>popupMenu</type>
  </fields>
  <fields>
    <name>mail_aliases.alias_name</name>
    <max_length>255</max_length>
    <required>1</required>
    <validate>isValidIdentifier</validate>
    <width>30</width>
  </fields>
  <fields>
    <name>mail_aliases.comment</name>
    <clear>left</clear>
    <max_length>255</max_length>
    <width>60</width>
  </fields>
  <fields>
    <name>mail_aliases.note</name>
    <align>right</align>
    <clear>left</clear>
    <stepno>0</stepno>
    <type>note</type>
    <width>40%</width>
  </fields>
  <fields>
    <name>mail_aliases.recipients</name>
    <clear>left</clear>
    <height>10</height>
    <type>textarea</type>
    <width>60</width>
  </fields>
  <fields>
    <name>messages_view.name</name>
    <clear>left</clear>
    <max_length>64</max_length>
    <required>1</required>
    <validate>isValidIdentifier</validate>
    <width>40</width>
  </fields>
  <fields>
    <name>pages_view.vals</name>
    <edit>1</edit>
    <select>right</select>
    <type>table</type>
  </fields>
  <fields>
    <name>release_view.info</name>
    <clear>left</clear>
    <type>note</type>
    <width>100%</width>
  </fields>
  <fields>
    <name>release_view.release_table</name>
    <select>left</select>
    <type>table</type>
  </fields>
  <fields>
    <name>release_view.src_phase</name>
    <onchange>submit()</onchange>
    <type>popupMenu</type>
  </fields>
  <fields>
    <name>role_manager.name</name>
    <max_length>8</max_length>
    <required>1</required>
    <validate>isValidIdentifier</validate>
    <width>10</width>
  </fields>
  <fields>
    <name>role_manager.realm</name>
    <onchange>submit()</onchange>
    <type>popupMenu</type>
  </fields>
  <fields>
    <name>role_manager.role</name>
    <clear>left</clear>
    <onchange>submit()</onchange>
    <type>popupMenu</type>
  </fields>
  <fields>
    <name>role_manager.users</name>
    <palign>left</palign>
    <sep>[% nbsp %][% nbsp %][% nbsp %]</sep>
    <type>groupMembership</type>
  </fields>
  <fields>
    <name>room_manager.keywords</name>
    <clear>left</clear>
  </fields>
  <fields>
    <name>room_manager.level</name>
    <onchange>submit()</onchange>
    <type>popupMenu</type>
  </fields>
  <fields>
    <name>room_manager.name</name>
    <required>1</required>
    <validate>isValidPath</validate>
    <width>40</width>
  </fields>
  <fields>
    <name>room_manager.nameNew</name>
    <required>1</required>
    <width>40</width>
  </fields>
  <fields>
    <name>room_manager.path</name>
    <clear>left</clear>
    <validate>isValidPath</validate>
    <width>40</width>
  </fields>
  <fields>
    <name>room_manager.room</name>
    <clear>left</clear>
    <onchange>submit()</onchange>
    <type>popupMenu</type>
  </fields>
  <fields>
    <name>room_manager.text</name>
    <clear>left</clear>
    <validate>isSimpleText</validate>
    <width>40</width>
  </fields>
  <fields>
    <name>room_manager.tip</name>
    <clear>left</clear>
    <validate>isSimpleText</validate>
    <width>40</width>
  </fields>
  <fields>
    <name>user_manager.afill</name>
    <align>left</align>
    <clear>left</clear>
    <type>note</type>
    <width>100%</width>
  </fields>
  <fields>
    <name>user_manager.email_address</name>
    <clear>left</clear>
    <max_length>80</max_length>
    <width>40</width>
  </fields>
  <fields>
    <name>user_manager.first_name</name>
    <max_length>40</max_length>
    <required>1</required>
    <width>20</width>
  </fields>
  <fields>
    <name>user_manager.home_phone</name>
    <clear>left</clear>
    <max_length>20</max_length>
    <width>20</width>
  </fields>
  <fields>
    <name>user_manager.homedir</name>
    <clear>left</clear>
    <max_length>255</max_length>
    <width>40</width>
  </fields>
  <fields>
    <name>user_manager.last_name</name>
    <clear>left</clear>
    <max_length>40</max_length>
    <required>1</required>
    <width>20</width>
  </fields>
  <fields>
    <name>user_manager.location</name>
    <clear>left</clear>
    <max_length>20</max_length>
    <width>20</width>
  </fields>
  <fields>
    <name>user_manager.pgroup</name>
    <align>right</align>
    <clear>left</clear>
    <type>note</type>
    <width>40%</width>
  </fields>
  <fields>
    <name>user_manager.populate</name>
    <checked>1</checked>
    <clear>left</clear>
    <type>checkbox</type>
  </fields>
  <fields>
    <name>user_manager.profile</name>
    <clear>left</clear>
    <onchange>submit()</onchange>
    <type>popupMenu</type>
  </fields>
  <fields>
    <name>user_manager.project</name>
    <clear>left</clear>
    <max_length>80</max_length>
    <width>40</width>
  </fields>
  <fields>
    <name>user_manager.realm</name>
    <onchange>submit()</onchange>
    <type>popupMenu</type>
  </fields>
  <fields>
    <name>user_manager.shell</name>
    <clear>left</clear>
    <type>popupMenu</type>
  </fields>
  <fields>
    <name>user_manager.user</name>
    <clear>left</clear>
    <onchange>submit()</onchange>
    <type>popupMenu</type>
  </fields>
  <fields>
    <name>user_manager.username</name>
    <clear>left</clear>
    <max_length>32</max_length>
    <required>1</required>
    <width>8</width>
  </fields>
  <fields>
    <name>user_manager.work_phone</name>
    <clear>left</clear>
    <max_length>20</max_length>
    <width>20</width>
  </fields>
  <fields>
    <name>user_profiles.baseid</name>
    <clear>left</clear>
    <max_length>8</max_length>
    <width>8</width>
  </fields>
  <fields>
    <name>user_profiles.desc</name>
    <max_length>60</max_length>
    <required>1</required>
    <validate>isMandatory</validate>
    <width>40</width>
  </fields>
  <fields>
    <name>user_profiles.group_name</name>
    <align>right</align>
    <clear>left</clear>
    <type>note</type>
    <width>40%</width>
  </fields>
  <fields>
    <name>user_profiles.homedir</name>
    <clear>left</clear>
    <max_length>255</max_length>
    <width>40</width>
  </fields>
  <fields>
    <name>user_profiles.increment</name>
    <clear>left</clear>
    <max_length>8</max_length>
    <width>8</width>
  </fields>
  <fields>
    <name>user_profiles.name</name>
    <clear>left</clear>
    <onchange>submit()</onchange>
    <type>popupMenu</type>
  </fields>
  <fields>
    <name>user_profiles.passwd</name>
    <clear>left</clear>
    <max_length>32</max_length>
    <width>8</width>
  </fields>
  <fields>
    <name>user_profiles.pattern</name>
    <clear>left</clear>
    <max_length>20</max_length>
    <width>20</width>
  </fields>
  <fields>
    <name>user_profiles.permissions</name>
    <clear>left</clear>
    <max_length>3</max_length>
    <width>8</width>
  </fields>
  <fields>
    <name>user_profiles.prefix</name>
    <clear>left</clear>
    <max_length>8</max_length>
    <width>8</width>
  </fields>
  <fields>
    <name>user_profiles.printer</name>
    <clear>left</clear>
    <max_length>20</max_length>
    <width>20</width>
  </fields>
  <fields>
    <name>user_profiles.profile</name>
    <onchange>submit()</onchange>
    <type>popupMenu</type>
  </fields>
  <fields>
    <name>user_profiles.project</name>
    <clear>left</clear>
    <max_length>40</max_length>
    <width>40</width>
  </fields>
  <fields>
    <name>user_profiles.roles</name>
    <clear>left</clear>
    <max_length>255</max_length>
    <width>40</width>
  </fields>
  <fields>
    <name>user_profiles.server</name>
    <clear>left</clear>
    <max_length>20</max_length>
    <width>20</width>
  </fields>
  <fields>
    <name>user_profiles.shell</name>
    <clear>left</clear>
    <type>popupMenu</type>
  </fields>
  <fields>
    <name>user_report.keynote</name>
    <align>left</align>
    <type>note</type>
    <width>100%</width>
  </fields>
  <fields>
    <name>user_report.realm</name>
    <onchange>submit()</onchange>
    <type>popupMenu</type>
  </fields>
  <fields>
    <name>user_security.groups</name>
    <palign>left</palign>
    <sep>space</sep>
    <type>groupMembership</type>
  </fields>
  <fields>
    <name>user_security.p_default</name>
    <palign>left</palign>
    <type>label</type>
  </fields>
  <fields>
    <name>user_security.p_generated</name>
    <clear>left</clear>
    <palign>left</palign>
    <type>label</type>
  </fields>
  <fields>
    <name>user_security.p_value</name>
    <clear>left</clear>
    <palign>left</palign>
    <type>popupMenu</type>
  </fields>
  <fields>
    <name>user_security.p_word1</name>
    <clear>left</clear>
    <max_length>16</max_length>
    <palign>left</palign>
    <subtype>verify</subtype>
    <type>password</type>
    <width>8</width>
  </fields>
  <fields>
    <name>user_security.realm</name>
    <onchange>submit()</onchange>
    <palign>left</palign>
    <type>popupMenu</type>
  </fields>
  <fields>
    <name>user_security.user</name>
    <clear>left</clear>
    <onchange>submit()</onchange>
    <palign>left</palign>
    <type>popupMenu</type>
  </fields>
  <keys>
    <name>access_control</name>
    <vals>
      <name>level</name>
      <key>entrance</key>
    </vals>
    <vals>
      <name>room</name>
      <key>..Level..</key>
    </vals>
  </keys>
  <keys>
    <name>backup</name>
    <vals>
      <name>device</name>
      <key>[% os.defaultTape %]</key>
    </vals>
    <vals>
      <name>format</name>
      <key>dump</key>
    </vals>
    <vals>
      <name>paths</name>
      <key>/</key>
    </vals>
  </keys>
  <keys>
    <name>buttons_view</name>
    <vals>
      <name>button</name>
      <key>[% newtag %]</key>
    </vals>
    <vals>
      <name>level</name>
      <key>entrance</key>
    </vals>
  </keys>
  <keys>
    <name>credentials</name>
    <vals>
      <name>acct</name>
      <key>[% newtag %]</key>
    </vals>
    <vals>
      <name>level</name>
      <key>entrance</key>
    </vals>
  </keys>
  <keys>
    <name>fields_view</name>
    <vals>
      <name>field</name>
      <key>[% newtag %]</key>
    </vals>
    <vals>
      <name>level</name>
      <key>entrance</key>
    </vals>
  </keys>
  <keys>
    <name>keys_view</name>
    <vals>
      <name>key</name>
      <key>[% newtag %]</key>
    </vals>
    <vals>
      <name>level</name>
      <key>entrance</key>
    </vals>
  </keys>
  <keys>
    <name>mail_aliases</name>
    <vals>
      <name>alias</name>
      <key>[% newtag %]</key>
    </vals>
  </keys>
  <keys>
    <name>messages_view</name>
    <vals>
      <name>level</name>
      <key>entrance</key>
    </vals>
    <vals>
      <name>message</name>
      <key>[% newtag %]</key>
    </vals>
  </keys>
  <keys>
    <name>pages_view</name>
    <vals>
      <name>level</name>
      <key>entrance</key>
    </vals>
    <vals>
      <name>page</name>
      <key>[% newtag %]</key>
    </vals>
  </keys>
  <keys>
    <name>proc_table</name>
    <vals>
      <name>fsystem</name>
      <key>0</key>
    </vals>
    <vals>
      <name>ptype</name>
      <key>1</key>
    </vals>
    <vals>
      <name>signals</name>
      <key>1</key>
    </vals>
    <vals>
      <name>user</name>
      <key>All</key>
    </vals>
  </keys>
  <keys>
    <name>release_diff</name>
    <vals>
      <name>srcPhase</name>
      <key>0</key>
    </vals>
  </keys>
  <keys>
    <name>release_log</name>
    <vals>
      <name>src_phase</name>
      <key>0</key>
    </vals>
  </keys>
  <keys>
    <name>release_view</name>
    <vals>
      <name>src_phase</name>
      <key>0</key>
    </vals>
  </keys>
  <keys>
    <name>role_manager</name>
    <vals>
      <name>realm</name>
      <key>R01-Localhost</key>
    </vals>
    <vals>
      <name>role</name>
      <key>0</key>
    </vals>
  </keys>
  <keys>
    <name>room_manager</name>
    <vals>
      <name>level</name>
      <key>[% newtag %]</key>
    </vals>
    <vals>
      <name>room</name>
      <key>..Level..</key>
    </vals>
  </keys>
  <keys>
    <name>user_manager</name>
    <vals>
      <name>profile</name>
      <key>users</key>
    </vals>
    <vals>
      <name>realm</name>
      <key>IdentityUnix</key>
    </vals>
    <vals>
      <name>user</name>
      <key>[% newtag %]</key>
    </vals>
  </keys>
  <keys>
    <name>user_profiles</name>
    <vals>
      <name>profile</name>
      <key>[% newtag %]</key>
    </vals>
  </keys>
  <keys>
    <name>user_report</name>
    <vals>
      <name>realm</name>
      <key>IdentityUnix</key>
    </vals>
    <vals>
      <name>user_report</name>
      <key>0</key>
    </vals>
  </keys>
  <keys>
    <name>user_security</name>
    <vals>
      <name>realm</name>
      <key>IdentityUnix</key>
    </vals>
    <vals>
      <name>user</name>
      <key>0</key>
    </vals>
  </keys>
  <pages>
    <name>reception</name>
    <class>centre narrow</class>
    <columns>1</columns>
  </pages>
  <rooms>
    <name>access_control</name>
    <acl>@support</acl>
    <state>0</state>
  </rooms>
  <rooms>
    <name>backup</name>
    <acl>@support</acl>
    <state>0</state>
  </rooms>
  <rooms>
    <name>backup_logfile</name>
    <acl>@support</acl>
    <state>0</state>
  </rooms>
  <rooms>
    <name>buttons_view</name>
    <acl>@support</acl>
    <state>0</state>
  </rooms>
  <rooms>
    <name>credentials</name>
    <acl>@support</acl>
    <state>0</state>
  </rooms>
  <rooms>
    <name>fields_view</name>
    <acl>@support</acl>
    <state>0</state>
  </rooms>
  <rooms>
    <name>globals</name>
    <acl>@support</acl>
    <state>0</state>
  </rooms>
  <rooms>
    <name>keys_view</name>
    <acl>@support</acl>
    <state>0</state>
  </rooms>
  <rooms>
    <name>lock_table</name>
    <acl>@support</acl>
    <state>0</state>
  </rooms>
  <rooms>
    <name>mail_aliases</name>
    <acl>@support</acl>
    <state>0</state>
  </rooms>
  <rooms>
    <name>messages_view</name>
    <acl>@support</acl>
    <state>0</state>
  </rooms>
  <rooms>
    <name>navigation_manager</name>
    <acl>@support</acl>
    <state>0</state>
  </rooms>
  <rooms>
    <name>pages_view</name>
    <acl>@support</acl>
  </rooms>
  <rooms>
    <name>proc_table</name>
    <acl>@support</acl>
    <state>0</state>
  </rooms>
  <rooms>
    <name>reception</name>
    <acl>@support</acl>
    <state>0</state>
  </rooms>
  <rooms>
    <name>role_manager</name>
    <acl>@support</acl>
    <state>0</state>
  </rooms>
  <rooms>
    <name>room_manager</name>
    <acl>@support</acl>
    <state>0</state>
  </rooms>
  <rooms>
    <name>user_manager</name>
    <acl>@support</acl>
    <state>0</state>
  </rooms>
  <rooms>
    <name>user_profiles</name>
    <acl>@support</acl>
    <state>0</state>
  </rooms>
  <rooms>
    <name>user_report</name>
    <acl>@support</acl>
    <state>0</state>
  </rooms>
  <rooms>
    <name>user_security</name>
    <acl>@support</acl>
    <state>0</state>
  </rooms>
  <rooms>
    <name>user_sessions</name>
    <acl>@support</acl>
    <state>0</state>
  </rooms>
  <rooms>
    <name>users</name>
    <acl>@support</acl>
    <state>0</state>
  </rooms>
  <rooms>
    <name>view_logfile</name>
    <acl>@support</acl>
    <state>0</state>
  </rooms>
  <rooms>
    <name>view_security_log</name>
    <acl>@support</acl>
    <state>0</state>
  </rooms>
</config>
