var/etc/admin_en.xml

<!ELEMENT acl         (ARRAY)*>
<!ELEMENT buttons     (ARRAY)*>
<!ELEMENT credentials (ARRAY)*>
<!ELEMENT fields      (ARRAY)*>
<!ELEMENT globals     (ARRAY)*>
<!ELEMENT keys        (ARRAY)*>
<!ELEMENT levels      (ARRAY)*>
<!ELEMENT messages    (ARRAY)*>
<!ELEMENT pages       (ARRAY)*>
<!ELEMENT rooms       (ARRAY)*>
<!ELEMENT vals        (ARRAY)*>
<config>
  <_cvs_lang_level>@(#)$Id: admin_en.xml 771 2009-06-13 16:47:48Z pjf $</_cvs_lang_level>
  <buttons>
    <name>access_control.set</name>
    <error>Failed to set the state because</error>
    <help>Set the state for this [% noun %]</help>
  </buttons>
  <buttons>
    <name>access_control.update</name>
    <error>Failed to update the level/rooms definitions because</error>
    <help>Update the ACL for the [% ckeys.room %][% nbsp %][% noun %]</help>
  </buttons>
  <buttons>
    <name>backup.eject</name>
    <error>Failed to eject the tape because</error>
    <help>Eject the tape in the currently selected drive</help>
    <prompt>Are you sure you want to eject this tape ?</prompt>
  </buttons>
  <buttons>
    <name>backup.start</name>
    <error>Failed to start the backup because</error>
    <help>Start the backup of the currently selected file set in the background</help>
    <prompt>Are you sure you want to start this backup ?</prompt>
  </buttons>
  <buttons>
    <name>buttons_view.delete</name>
    <error>Failed to delete the button definition because</error>
    <help>Delete the current button definition</help>
    <prompt>Are you sure you want to delete the button definition?</prompt>
  </buttons>
  <buttons>
    <name>buttons_view.insert</name>
    <error>Failed to create the buttons definition because</error>
    <help>Create a new buttons definition</help>
  </buttons>
  <buttons>
    <name>buttons_view.save</name>
    <error>Failed to update the buttons definition because</error>
    <help>Update the definition for this button</help>
  </buttons>
  <buttons>
    <name>credentials.delete</name>
    <error>Failed to delete the credentials because</error>
    <help>Delete the selected credentials</help>
    <prompt>Are you sure you want to delete these credentials</prompt>
  </buttons>
  <buttons>
    <name>credentials.insert</name>
    <error>Failed to insert the credentials because</error>
    <help>Insert the new credentials into the configuration</help>
  </buttons>
  <buttons>
    <name>credentials.save</name>
    <error>Failed save to credentials the because</error>
    <help>Update the configuration with your changes to these credentials</help>
  </buttons>
  <buttons>
    <name>globals.save</name>
    <error>Failed to save the global configuration because</error>
    <help>Update the global configuration options with your changes</help>
  </buttons>
  <buttons>
    <name>lock_table.delete</name>
    <error>Failed to delete the lock(s) because</error>
    <help>Delete the selected locks</help>
  </buttons>
  <buttons>
    <name>mail_aliases.delete</name>
    <error>Failed to deletethe mail alias because</error>
    <help>Delete the selected mail alias</help>
    <prompt>Are you sure you want to delete this mail alias</prompt>
  </buttons>
  <buttons>
    <name>mail_aliases.insert</name>
    <error>Failed to insert the mail alias because</error>
    <help>Insert the new mail alias into the configuration</help>
  </buttons>
  <buttons>
    <name>mail_aliases.save</name>
    <error>Failed to save the mail alias because</error>
    <help>Update the configuration with your changes to this mail alias</help>
  </buttons>
  <buttons>
    <name>messages_view.delete</name>
    <error>Failed to delete the message because</error>
    <help>Delete the selected message definition</help>
    <prompt>Are you sure you want to delete this message definition ?</prompt>
  </buttons>
  <buttons>
    <name>messages_view.insert</name>
    <error>Failed to create the message because</error>
    <help>Create a new message definition</help>
  </buttons>
  <buttons>
    <name>messages_view.save</name>
    <error>Failed to save the message because</error>
    <help>Update the configuration with your changes to this message definition</help>
  </buttons>
  <buttons>
    <name>pages_view.delete</name>
    <error>Failed to delete the page definition because</error>
    <help>Delete the selected page definition</help>
    <prompt>Are you sure you want to delete this page definition ?</prompt>
  </buttons>
  <buttons>
    <name>pages_view.insert</name>
    <error>Failed to insert the page definition because</error>
    <help>Create a new page definition</help>
  </buttons>
  <buttons>
    <name>pages_view.save</name>
    <error>Failed to update the page definition because</error>
    <help>Update this page definition</help>
  </buttons>
  <buttons>
    <name>proc_table.abort</name>
    <error>Failed to abort the process because</error>
    <help>Send the selected processes a SIGABRT</help>
    <prompt>Are you sure you want to abort the selected processes</prompt>
  </buttons>
  <buttons>
    <name>proc_table.kill</name>
    <error>Failed to kill the process because</error>
    <help>Send the selected processes a SIGKILL</help>
    <prompt>Are you sure you want to kill the selected processes</prompt>
  </buttons>
  <buttons>
    <name>proc_table.terminate</name>
    <error>Failed to terminate the process because</error>
    <help>Send the selected processes a SIGTERM</help>
    <prompt>Are you sure you want to terminate the selected processes</prompt>
  </buttons>
  <buttons>
    <name>release_view.fileopen</name>
    <error>Failed to open the file because</error>
    <help>View the source code of the selected file</help>
  </buttons>
  <buttons>
    <name>release_view.info</name>
    <error>Failed to critique the file because</error>
    <help>Run Perl::Critic against the selected program</help>
  </buttons>
  <buttons>
    <name>release_view.refresh</name>
    <error>Failed to update the cache because</error>
    <help>Press the button to force an update of the cache</help>
  </buttons>
  <buttons>
    <name>release_view.save</name>
    <error>Failed to save the change requests because</error>
    <help>Press the button to save any new change request numbers</help>
  </buttons>
  <buttons>
    <name>release_view.update</name>
    <error>Failed to copy the programs because</error>
    <help>Press the button to copy the selected programs from the [% sPName %] phase to the [% platform %] phase</help>
  </buttons>
  <buttons>
    <name>role_manager.delete</name>
    <error>Failed to delete the role because</error>
    <help>Delete the [% ckeys.role %] role</help>
    <prompt>Are you sure you want to delete the [% ckeys.role %] role ?</prompt>
  </buttons>
  <buttons>
    <name>role_manager.insert</name>
    <error>Failed to insert the role because</error>
    <help>Create a new role</help>
  </buttons>
  <buttons>
    <name>role_manager.update</name>
    <error>Failed to update the role because</error>
    <help>Update the user list for the [% ckeys.role %] role</help>
  </buttons>
  <buttons>
    <name>room_manager.delete</name>
    <error>Failed to delete the level/room definition because</error>
    <help>Delete the selected [% noun %] definition and its ACLs</help>
    <prompt>Are you sure you want to delete this [% noun %] definition ?</prompt>
  </buttons>
  <buttons>
    <name>room_manager.insert</name>
    <error>Failed to insert the level/room definition because</error>
    <help>Insert the new [% noun %] definition into the configuration</help>
  </buttons>
  <buttons>
    <name>room_manager.save</name>
    <error>Failed to save the level/room definition because</error>
    <help>Update the configuration with your changes to this [% noun %] definition</help>
  </buttons>
  <buttons>
    <name>user_manager.delete</name>
    <error>Failed to delete the account because</error>
    <help>Delete the user account for [% ckeys.user %]</help>
    <prompt>Are you sure you want to delete the account for [% ckeys.user %] ?</prompt>
  </buttons>
  <buttons>
    <name>user_manager.fill</name>
    <error>Failed to autofill the form because</error>
    <help>Automagically fills in the fields on this form</help>
  </buttons>
  <buttons>
    <name>user_manager.insert</name>
    <error>Failed to create the account because</error>
    <help>Create a new user account</help>
    <prompt>Are you sure you want to create this account ?</prompt>
  </buttons>
  <buttons>
    <name>user_manager.save</name>
    <error>Failed to save the account changes because</error>
    <help>Save your changes to the selected user account</help>
  </buttons>
  <buttons>
    <name>user_profiles.delete</name>
    <error>Failed to delete the user profile because</error>
    <help>Delete the [% ckeys.profile %] user profile</help>
    <prompt>Are you sure you want to delete the [% ckeys.profile %] user profile ?</prompt>
  </buttons>
  <buttons>
    <name>user_profiles.insert</name>
    <error>Failed to insert the user profile because</error>
    <help>Create a new user profile</help>
  </buttons>
  <buttons>
    <name>user_profiles.save</name>
    <error>Failed to save the user profile because</error>
    <help>Save your changes to the [% ckeys.profile %] user profile</help>
  </buttons>
  <buttons>
    <name>user_report.execute</name>
    <error>Failed to execute the user report because</error>
    <help>Execute the user report in the background</help>
    <prompt>Are you sure you want to run the user report ?</prompt>
  </buttons>
  <buttons>
    <name>user_report.list</name>
    <error>Failed to list the available reports because</error>
    <help>List the available reports</help>
  </buttons>
  <buttons>
    <name>user_report.purge</name>
    <error>Failed to purge the selected accounts because</error>
    <help>Purge the selected accounts</help>
    <prompt>Are you sure you want to purge the selected accounts ?</prompt>
  </buttons>
  <buttons>
    <name>user_security.set</name>
    <error>Failed to set the password because</error>
    <help>Set [% ckeys.user %]'s password to the selected option</help>
    <prompt>Are you sure you want to change the password for [% ckeys.user %]</prompt>
  </buttons>
  <buttons>
    <name>user_security.update</name>
    <error>Failed to update the groups list because</error>
    <help>Update the secondary groups list for [% ckeys.user %]</help>
  </buttons>
  <buttons>
    <name>user_sessions.delete</name>
    <error>Failed to delete the session because</error>
    <help>Delete the selected sessions</help>
    <prompt>Are you sure you want to delete the selected sessions</prompt>
  </buttons>
  <fields>
    <name>access_control.room</name>
    <prompt>Select action</prompt>
    <tip>Select ..Level.. to change access for the entire controller</tip>
  </fields>
  <fields>
    <name>access_control.state</name>
    <prompt>Set the state for this [% noun %]</prompt>
  </fields>
  <fields>
    <name>access_control.user_groups</name>
    <atitle>Denied</atitle>
    <ctitle>Allowed</ctitle>
    <fhelp>&lt;p&gt;Select from the Denied list to inlcude the users/groups in the &lt;em&gt;[% key_attr %]&lt;/em&gt; [% noun %]'s acl and then click add  (+).&lt;/p&gt;&lt;p&gt;&lt;b&gt;OR&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Select from the Allowed list to exclude the users/groups from the &lt;em&gt;[% key_attr %]&lt;/em&gt; [% noun %]'s acl and then click remove (-).&lt;/p&gt;</fhelp>
  </fields>
  <fields>
    <name>backup.device</name>
    <prompt>Tape device</prompt>
  </fields>
  <fields>
    <name>backup.format</name>
    <prompt>Backup format</prompt>
  </fields>
  <fields>
    <name>backup.next_level</name>
    <prompt>Specific dump level to use</prompt>
    <tip>Sequence; complete 0, weekly 1, daily 3 2 5 4 7 6 9 8 9 9 ...</tip>
  </fields>
  <fields>
    <name>backup.operation</name>
    <prompt>Initial tape operation</prompt>
    <tip>Do you want to leave the tape position where it is or do you want to rewind the tape before the dump begins ?</tip>
  </fields>
  <fields>
    <name>backup.pathsDump</name>
    <prompt>File system to backup</prompt>
  </fields>
  <fields>
    <name>backup.pathsTar</name>
    <prompt>Directory paths to archive</prompt>
    <tip>Separate each directory path with a space</tip>
  </fields>
  <fields>
    <name>backup.position</name>
    <prompt>Final tape position</prompt>
    <tip>When the dump completes do you want to rewind the tape ?</tip>
  </fields>
  <fields>
    <name>backup.type</name>
    <prompt>Dump type</prompt>
  </fields>
  <fields>
    <name>config.attr</name>
    <prompt>Select [% key_attr %]</prompt>
    <tip>Select [% newtag %] to create a new [% key_attr %]</tip>
  </fields>
  <fields>
    <name>config.level</name>
    <prompt>Select controller</prompt>
  </fields>
  <fields>
    <name>config.name</name>
    <prompt>Enter new [% key_attr %] name</prompt>
  </fields>
  <fields>
    <name>credentials.acct</name>
    <prompt>Select credentials</prompt>
    <tip>Select [% newtag %] to create a new set of credentials</tip>
  </fields>
  <fields>
    <name>credentials.driver</name>
    <prompt>Enter the DBI driver name</prompt>
  </fields>
  <fields>
    <name>credentials.host</name>
    <prompt>Enter the remote hostname</prompt>
  </fields>
  <fields>
    <name>credentials.name</name>
    <prompt>Change the name and click save to create a copy of these credentials</prompt>
  </fields>
  <fields>
    <name>credentials.nameNew</name>
    <prompt>Enter the unique name for these credentials</prompt>
  </fields>
  <fields>
    <name>credentials.password</name>
    <prompt>Enter the password for the remote user</prompt>
  </fields>
  <fields>
    <name>credentials.port</name>
    <prompt>Enter the port number used for the connection</prompt>
  </fields>
  <fields>
    <name>credentials.user</name>
    <prompt>Enter the user name supplied to the remote host</prompt>
  </fields>
  <fields>
    <name>globals.newParam</name>
    <prompt>Enter the new attribute name</prompt>
    <tip>Attribute names must be unique and can only contain the valid identifier characters a-z, A-Z, 0-9 and _</tip>
  </fields>
  <fields>
    <name>keys_view.vals</name>
    <prompt>Define form keys and default values</prompt>
  </fields>
  <fields>
    <name>mail_aliases.alias</name>
    <prompt>Select the alias</prompt>
  </fields>
  <fields>
    <name>mail_aliases.alias_name</name>
    <prompt>Enter the mail alias name</prompt>
    <tip>Mail alias names must be unique and can only contain the valid identifier characters a-z, A-Z, 0-9 and _</tip>
  </fields>
  <fields>
    <name>mail_aliases.comment</name>
    <prompt>Enter a description</prompt>
  </fields>
  <fields>
    <name>mail_aliases.note</name>
    <text>Alias created by [% owner %][% nbsp %][% created %]</text>
  </fields>
  <fields>
    <name>mail_aliases.recipients</name>
    <prompt>Enter the recipient list</prompt>
  </fields>
  <fields>
    <name>message_view.name</name>
    <prompt>New [% element %] name</prompt>
    <tip>[% element %] names must be unique and can only contain the valid identifier characters a-z, A-Z, 0-9 and _</tip>
  </fields>
  <fields>
    <name>pages_view.vals</name>
    <prompt>Define page texts</prompt>
  </fields>
  <fields>
    <name>release_view.info</name>
    <text>The table below was read from cache which
     was last updated on [% lastUpdate %]</text>
  </fields>
  <fields>
    <name>release_view.src_phase</name>
    <prompt>Select the source phase</prompt>
  </fields>
  <fields>
    <name>role_manager.name</name>
    <prompt>New role name</prompt>
    <tip>Role names must be unique and can only contain the valid identifier characters a-z, A-Z, 0-9 and _</tip>
  </fields>
  <fields>
    <name>role_manager.realm</name>
    <prompt>Select the realm</prompt>
  </fields>
  <fields>
    <name>role_manager.role</name>
    <prompt>Select the role to change</prompt>
    <tip>Select [% newtag %] to create a new role</tip>
  </fields>
  <fields>
    <name>role_manager.users</name>
    <atitle>All Users</atitle>
    <ctitle>Current Members</ctitle>
    <fhelp>&lt;p&gt;Select from the All Users list to include that
    user in the [% ckeys.role %] role and then click add (+)&lt;/p&gt;
    &lt;p&gt;&lt;b&gt;OR&lt;/b&gt;&lt;/p&gt;
    &lt;p&gt;Select from the Current Members list to exclude that user from
    the [% ckeys.role %] role and then click remove (-)&lt;/p&gt;</fhelp>
  </fields>
  <fields>
    <name>room_manager.keywords</name>
    <prompt>Enter the keywords for the action</prompt>
    <tip>Used by search engines to index the page</tip>
  </fields>
  <fields>
    <name>room_manager.level</name>
    <prompt>Select controller</prompt>
    <tip>Select [% newtag %] to create a new controller definition</tip>
  </fields>
  <fields>
    <name>room_manager.name</name>
    <prompt>Enter the [% noun %] name</prompt>
    <tip>Change the name and click save to create a copy of this [% noun %] definition</tip>
  </fields>
  <fields>
    <name>room_manager.nameNew</name>
    <prompt>Enter the [% noun %] name</prompt>
    <tip>Names must be unique and can only contain the valid path characters a-z, A-Z, 0-9 and /</tip>
  </fields>
  <fields>
    <name>room_manager.path</name>
    <prompt>Enter the menu path</prompt>
  </fields>
  <fields>
    <name>room_manager.room</name>
    <prompt>Select action</prompt>
    <tip>Select ..Level.. to create and edit the controller definitions. Select [% newtag %] fill in the form and click insert to create a action definition</tip>
  </fields>
  <fields>
    <name>room_manager.text</name>
    <prompt>Enter the navigation display text</prompt>
  </fields>
  <fields>
    <name>room_manager.tip</name>
    <prompt>Enter the description / help text</prompt>
    <tip>Used by search engines when the page is indexed</tip>
  </fields>
  <fields>
    <name>user_manager.afill</name>
    <text>After you have entered the user's full name you can press the AutoFill button to fill in some of the fields on this form with the correct default values</text>
  </fields>
  <fields>
    <name>user_manager.email_address</name>
    <prompt>Email address</prompt>
  </fields>
  <fields>
    <name>user_manager.first_name</name>
    <prompt>User's first name</prompt>
  </fields>
  <fields>
    <name>user_manager.home_phone</name>
    <prompt>Home telephone number with STD code</prompt>
  </fields>
  <fields>
    <name>user_manager.homedir</name>
    <prompt>Home directory</prompt>
  </fields>
  <fields>
    <name>user_manager.last_name</name>
    <prompt>User's last name</prompt>
  </fields>
  <fields>
    <name>user_manager.location</name>
    <prompt>Usual location and pillar/desk reference</prompt>
  </fields>
  <fields>
    <name>user_manager.pgroup</name>
  </fields>
  <fields>
    <name>user_manager.populate</name>
    <prompt>Populate home directory on [% host %]</prompt>
  </fields>
  <fields>
    <name>user_manager.profile</name>
    <prompt>Select the profile to use when creating this account</prompt>
  </fields>
  <fields>
    <name>user_manager.project</name>
    <prompt>Project/Job title</prompt>
  </fields>
  <fields>
    <name>user_manager.realm</name>
    <prompt>Select authentication realm</prompt>
  </fields>
  <fields>
    <name>user_manager.shell</name>
    <prompt>Select the shell to use for interactive sessions</prompt>
  </fields>
  <fields>
    <name>user_manager.user</name>
    <prompt>Select the user account</prompt>
    <tip>Select [% newtag %] to create a new account</tip>
  </fields>
  <fields>
    <name>user_manager.username</name>
    <prompt>Enter the name of the new account</prompt>
  </fields>
  <fields>
    <name>user_manager.work_phone</name>
    <prompt>Work phone extension number</prompt>
  </fields>
  <fields>
    <name>user_profiles.baseid</name>
    <prompt>Lower user id value</prompt>
  </fields>
  <fields>
    <name>user_profiles.desc</name>
    <prompt>Descriptive name for this profile</prompt>
  </fields>
  <fields>
    <name>user_profiles.group_name</name>
    <text>This profile has [% profile %] as its primary group</text>
  </fields>
  <fields>
    <name>user_profiles.homedir</name>
    <prompt>Path to the parent of the home directory</prompt>
  </fields>
  <fields>
    <name>user_profiles.increment</name>
    <prompt>UID increment</prompt>
  </fields>
  <fields>
    <name>user_profiles.name</name>
    <prompt>Select the group name</prompt>
    <type>popupMenu</type>
  </fields>
  <fields>
    <name>user_profiles.passwd</name>
    <prompt>Default password</prompt>
  </fields>
  <fields>
    <name>user_profiles.pattern</name>
    <prompt>Logname pattern</prompt>
  </fields>
  <fields>
    <name>user_profiles.permissions</name>
    <prompt>Home directory permission</prompt>
  </fields>
  <fields>
    <name>user_profiles.prefix</name>
    <prompt>Logname prefix</prompt>
  </fields>
  <fields>
    <name>user_profiles.printer</name>
    <prompt>Default printer</prompt>
  </fields>
  <fields>
    <name>user_profiles.profile</name>
    <prompt>Select the user profile to change</prompt>
    <tip>Select [% newtag %] to create a new profile</tip>
  </fields>
  <fields>
    <name>user_profiles.project</name>
    <prompt>Project text</prompt>
  </fields>
  <fields>
    <name>user_profiles.roles</name>
    <prompt>Space separated list of additional roles</prompt>
  </fields>
  <fields>
    <name>user_profiles.server</name>
    <prompt>Home server</prompt>
  </fields>
  <fields>
    <name>user_profiles.shell</name>
    <prompt>Shell</prompt>
  </fields>
  <fields>
    <name>user_report.keynote</name>
    <text>Status field key: C = Current, D = Disabled, E = Expired, L = Left, N = No Login, U = Unused</text>
  </fields>
  <fields>
    <name>user_report.realm</name>
    <prompt>Select the realm</prompt>
  </fields>
  <fields>
    <name>user_security.groups</name>
    <atitle>All Groups</atitle>
    <ctitle>Current Groups</ctitle>
    <fhelp>&lt;p&gt;Select from the All Groups list to
    inlcude [% fullname %] in  that group and then click add (+).&lt;/p&gt;
    &lt;p&gt;&lt;b&gt;OR&lt;/b&gt;&lt;/p&gt;
    &lt;p&gt;Select from the Current groups list to
    exclude [% fullname %] from that group and then
    click remove (-).&lt;/p&gt;</fhelp>
  </fields>
  <fields>
    <name>user_security.p_default</name>
  </fields>
  <fields>
    <name>user_security.p_generated</name>
  </fields>
  <fields>
    <name>user_security.p_value</name>
  </fields>
  <fields>
    <name>user_security.p_word1</name>
  </fields>
  <fields>
    <name>user_security.realm</name>
    <prompt>Select identity model</prompt>
  </fields>
  <fields>
    <name>user_security.user</name>
    <prompt>Select the user account to change</prompt>
  </fields>
  <messages>
    <name>access_control.add_remove</name>
    <text>Add/remove users/groups to/from the selected [% noun %]</text>
  </messages>
  <messages>
    <name>access_control.select</name>
    <text>Control access to controllers and actions on a per user/group basis</text>
  </messages>
  <messages>
    <name>access_control.state</name>
    <markdown></markdown>
    <text>Set the state for the selected [% noun %]</text>
  </messages>
  <messages>
    <name>accountUpdated</name>
    <text>Updated the account details for the user [_1]</text>
  </messages>
  <messages>
    <name>aliasDeleted</name>
    <text>Alias [_1] deleted</text>
  </messages>
  <messages>
    <name>aliasSaved</name>
    <text>Alias [_1] [_2]</text>
  </messages>
  <messages>
    <name>backup.dumpedBefore</name>
    <text>&lt;p&gt;The file system mounted on [_1] was last dumped on [_2] at level [_3].&lt;br /&gt;The next dump will be at level [_4]&lt;/p&gt;</text>
  </messages>
  <messages>
    <name>backup.neverDumped</name>
    <text>The file system mounted on [_1] has never been dumped. The next dump will be at level [_2]</text>
  </messages>
  <messages>
    <name>backup.select</name>
    <text>Perform manual tape backups on on this server</text>
  </messages>
  <messages>
    <name>backup.status</name>
    <text>Current status of selected tape drive</text>
  </messages>
  <messages>
    <name>backup.tapeBOT</name>
    <text>&lt;p&gt;The tape drive is online. The drive is positioned at the beginning of the tape&lt;/p&gt;</text>
  </messages>
  <messages>
    <name>backup.tapeBusy</name>
    <text>&lt;p&gt;The tape drive is online. The drive is busy&lt;/p&gt;</text>
  </messages>
  <messages>
    <name>backup.tapeEOF</name>
    <text>&lt;p&gt;The tape drive is online. The drive is positioned at the end of file # [_1]&lt;/p&gt;</text>
  </messages>
  <messages>
    <name>backup.tapeInProgress</name>
    <text>&lt;p&gt;There is a backup in progress on the tape drive now&lt;/p&gt;</text>
  </messages>
  <messages>
    <name>backup.tapeNotOnline</name>
    <text>&lt;p&gt;The tape drive is &lt;em&gt;NOT&lt;/em&gt; online.&lt;/p&gt;</text>
  </messages>
  <messages>
    <name>backup.tapeUnknown</name>
    <text>&lt;p&gt;The tape drive is online. The drive is in an unknown position&lt;/p&gt;</text>
  </messages>
  <messages>
    <name>buttons_view.edit</name>
    <text>Edit the fields of the selected button</text>
  </messages>
  <messages>
    <name>buttons_view.select</name>
    <text>Create and edit the button texts</text>
  </messages>
  <messages>
    <name>createdMessage</name>
    <text>Message [_1] / [_2] created</text>
  </messages>
  <messages>
    <name>createdProfile</name>
    <text>Profile [_1] / [_2] created</text>
  </messages>
  <messages>
    <name>createdRoom</name>
    <text>Created the [_1] endpoint definition</text>
  </messages>
  <messages>
    <name>credentials.edit</name>
    <text>Edit the fields of the selected credentials</text>
  </messages>
  <messages>
    <name>credentials.select</name>
    <text>Create and edit the credentials used to access databases</text>
  </messages>
  <messages>
    <name>deletedMessage</name>
    <text>Message [_1] / [_2] deleted</text>
  </messages>
  <messages>
    <name>deletedProfile</name>
    <text>Profile [_1] / [_2] deleted</text>
  </messages>
  <messages>
    <name>deletedUser</name>
    <text>User [_1] deleted</text>
  </messages>
  <messages>
    <name>fields_view.edit</name>
    <text>Edit the fields of the selected definition</text>
  </messages>
  <messages>
    <name>fields_view.select</name>
    <text>Create and edit the field definitions</text>
  </messages>
  <messages>
    <name>globals.edit</name>
    <text>Edit the global configuration options</text>
  </messages>
  <messages>
    <name>globalsCreated</name>
    <text>Created the global attribute [_2] in [_1]</text>
  </messages>
  <messages>
    <name>globalsUpdated</name>
    <text>Updated global configuration for [_1]</text>
  </messages>
  <messages>
    <name>grantedLevel</name>
    <text>Access to level [_1] granted to [_2]</text>
  </messages>
  <messages>
    <name>grantedRoom</name>
    <text>Access to room [_1] granted to [_2]</text>
  </messages>
  <messages>
    <name>keysCreated</name>
    <text>Keys for [_1] / [_2] created</text>
  </messages>
  <messages>
    <name>keysUpdated</name>
    <text>Keys for [_1] / [_2] updated</text>
  </messages>
  <messages>
    <name>keys_view.edit</name>
    <text>Edit the fields of the selected defnition</text>
  </messages>
  <messages>
    <name>keys_view.select</name>
    <text>Create and edit the form key defnitions</text>
  </messages>
  <messages>
    <name>lock_table.select</name>
    <text>Examine the contents of the lock table and delete stale locks</text>
  </messages>
  <messages>
    <name>mail_aliases.edit</name>
    <text>Edit the fields of the selected mail alias</text>
  </messages>
  <messages>
    <name>mail_aliases.select</name>
    <text>Create and edit email aliases</text>
  </messages>
  <messages>
    <name>messages_view.edit</name>
    <text>Edit the fields of the selected message</text>
  </messages>
  <messages>
    <name>messages_view.select</name>
    <text>Create and edit application message texts</text>
  </messages>
  <messages>
    <name>pagesCreated</name>
    <text>The [_2] page on the [_1] level has been created</text>
  </messages>
  <messages>
    <name>pagesDeleted</name>
    <text>The [_2] page on the [_1] level has been deleted</text>
  </messages>
  <messages>
    <name>pagesUpdated</name>
    <text>The [_2] page on the [_1] level has been updated</text>
  </messages>
  <messages>
    <name>pages_view.edit</name>
    <text>Edit the data for the selected page</text>
  </messages>
  <messages>
    <name>pages_view.select</name>
    <text>Create and edit simple page definitions</text>
  </messages>
  <messages>
    <name>proc_table.select</name>
    <text>Display and signal operating system processes</text>
  </messages>
  <messages>
    <name>release_diff.heading</name>
    <text>Release Differences for [% file %]</text>
  </messages>
  <messages>
    <name>release_log.heading</name>
    <text>Release Log History for [% file %]</text>
  </messages>
  <messages>
    <name>release_view.maintain</name>
    <text>Maintain software versions on this server</text>
  </messages>
  <messages>
    <name>revokedLevel</name>
    <text>Access to level [_1] revoked for [_2]</text>
  </messages>
  <messages>
    <name>revokedRoom</name>
    <text>Access to room [_1] revoked for [_2]</text>
  </messages>
  <messages>
    <name>role_created</name>
    <text>Created the [_1] role</text>
  </messages>
  <messages>
    <name>role_deleted</name>
    <text>Deleted the [_1] role</text>
  </messages>
  <messages>
    <name>role_manager.add_remove</name>
    <text>Add/remove user accounts to/from the selected role</text>
  </messages>
  <messages>
    <name>role_manager.create</name>
    <text>Create new roles</text>
  </messages>
  <messages>
    <name>role_manager.select</name>
    <text>Maintain role membership</text>
  </messages>
  <messages>
    <name>roles_added</name>
    <text>The user [_1] has been added to these roles: [_2]</text>
  </messages>
  <messages>
    <name>roles_removed</name>
    <text>The user [_1] has been removed from these roles: [_2]</text>
  </messages>
  <messages>
    <name>room_manager.edit</name>
    <text>Edit the fields of the selected [% noun %] definition</text>
  </messages>
  <messages>
    <name>room_manager.select</name>
    <text>Create/edit the controller and action definitions used by the navigation menu</text>
  </messages>
  <messages>
    <name>updatedProfile</name>
    <text>Profile [_1] / [_2] updated</text>
  </messages>
  <messages>
    <name>user_manager.edit</name>
    <text>Edit the fields of the selected user account</text>
  </messages>
  <messages>
    <name>user_manager.pgroup</name>
    <text>Primary group is </text>
  </messages>
  <messages>
    <name>user_manager.select</name>
    <text>Create and edit user accounts</text>
  </messages>
  <messages>
    <name>user_profiles.edit</name>
    <text>Edit the fields of the selected profile</text>
  </messages>
  <messages>
    <name>user_profiles.select</name>
    <text>Create and edit user account profiles</text>
  </messages>
  <messages>
    <name>user_report.select_purge</name>
    <text>Select user accounts to purge</text>
  </messages>
  <messages>
    <name>user_report.select_view</name>
    <text>Select a user account report to view</text>
  </messages>
  <messages>
    <name>user_security.add_usersAdded</name>
    <text>The user [_2] has been addeded to these roles: [_1]</text>
  </messages>
  <messages>
    <name>user_security.remove_usersRemoved</name>
    <text>The user [_2] has been removed from these roles: [_1]</text>
  </messages>
  <messages>
    <name>user_security.secondary</name>
    <text>Add/remove seconadary groups (roles)</text>
  </messages>
  <messages>
    <name>user_security.select</name>
    <text>Maintain the passwords and group memebership for user accounts</text>
  </messages>
  <messages>
    <name>user_security.set_password</name>
    <text>Set the password for [% fullname %] to one of the listed options</text>
  </messages>
  <messages>
    <name>user_security.set_password_option1</name>
    <text>Set to the default password which is</text>
  </messages>
  <messages>
    <name>user_security.set_password_option2</name>
    <text>Set to selected value</text>
  </messages>
  <messages>
    <name>user_security.set_password_option3</name>
    <text>Enter value</text>
  </messages>
  <messages>
    <name>user_security.set_password_option4</name>
    <text>Set to the generated value</text>
  </messages>
  <messages>
    <name>user_sessions.heading</name>
    <text>Terminal sessions on [% host %]</text>
  </messages>
  <messages>
    <name>users_added</name>
    <text>The [_1] role now includes these users: [_2]</text>
  </messages>
  <messages>
    <name>users_removed</name>
    <text>The [_1] role no longer includes these users: [_2]</text>
  </messages>
  <pages>
    <name>reception</name>
    <heading>Welcome to the Administration Level</heading>
    <vals>
      <name>para0</name>
      <text>This is the command and control centre for this web application. From this level you can edit all of the XML configuration files in the control directory; manager users, groups and the ACLs for each level and room; perform tape backups; view logfiles and status screens</text>
    </vals>
  </pages>
  <rooms>
    <name>access_control</name>
    <text>Access Control</text>
    <tip>Control access to actions on a per user/group basis</tip>
  </rooms>
  <rooms>
    <name>backup</name>
    <text>Tape Backups</text>
    <tip>Start a backup to tape of the selected file sets in the background</tip>
  </rooms>
  <rooms>
    <name>backup_logfile</name>
    <text>Logfile</text>
    <tip>View the log file generated by the backup program</tip>
  </rooms>
  <rooms>
    <name>buttons_view</name>
    <text>Buttons</text>
    <tip>Edit application button texts</tip>
  </rooms>
  <rooms>
    <name>configuration</name>
    <text>Configuration</text>
    <tip>Edit the application configuration data</tip>
  </rooms>
  <rooms>
    <name>credentials</name>
    <text>Credentials</text>
    <tip>Maintain database and remote connection information</tip>
  </rooms>
  <rooms>
    <name>fields_view</name>
    <text>Fields</text>
    <tip>Edit application field definitions</tip>
  </rooms>
  <rooms>
    <name>globals</name>
    <text>Globals</text>
    <tip>Change the global configuration settings for this installation</tip>
  </rooms>
  <rooms>
    <name>keys_view</name>
    <text>Keys</text>
    <tip>Edit form key definitions</tip>
  </rooms>
  <rooms>
    <name>lock_table</name>
    <text>Lock Table</text>
    <tip>List the contents of the lock table</tip>
  </rooms>
  <rooms>
    <name>mail_aliases</name>
    <text>Mail Aliases</text>
    <tip>Create and edit mail aliases</tip>
  </rooms>
  <rooms>
    <name>messages_view</name>
    <text>Messages</text>
    <tip>Edit application message texts</tip>
  </rooms>
  <rooms>
    <name>pages_view</name>
    <text>Pages</text>
    <tip>Edit the definitions for simple pages</tip>
  </rooms>
  <rooms>
    <name>proc_table</name>
    <text>Process Table</text>
    <tip>Use this screen to view and signal processes</tip>
  </rooms>
  <rooms>
    <name>reception</name>
    <text>Reception</text>
    <tip>Welcome to the Bridge</tip>
  </rooms>
  <rooms>
    <name>role_manager</name>
    <text>Roles</text>
    <tip>Maintain role membership</tip>
  </rooms>
  <rooms>
    <name>room_manager</name>
    <text>Navigation</text>
    <tip>Create and edit navigation menu links</tip>
  </rooms>
  <rooms>
    <name>user_manager</name>
    <text>Users</text>
    <tip>Create and edit user accounts</tip>
  </rooms>
  <rooms>
    <name>user_profiles</name>
    <text>Profiles</text>
    <tip>Create and edit user account profiles</tip>
  </rooms>
  <rooms>
    <name>user_report</name>
    <text>Reports</text>
    <tip>View and generate reports on the user base</tip>
  </rooms>
  <rooms>
    <name>user_security</name>
    <text>Security</text>
    <tip>Reset passwords and maintain secondary group list</tip>
  </rooms>
  <rooms>
    <name>user_sessions</name>
    <text>Sessions</text>
    <tip>List user sessions on this server</tip>
  </rooms>
  <rooms>
    <name>users</name>
    <text>Accounts</text>
    <tip>Manage user accounts, profiles and security</tip>
  </rooms>
  <rooms>
    <name>view_logfile</name>
    <text>Logfiles</text>
    <tip>View the log of application events</tip>
  </rooms>
  <rooms>
    <name>view_security_log</name>
    <text>Security Logfile</text>
    <tip>View the log of security failure events</tip>
  </rooms>
</config>
