var/etc/default.xml

<!ELEMENT acl         (ARRAY)*>
<!ELEMENT buttons     (ARRAY)*>
<!ELEMENT credentials (ARRAY)*>
<!ELEMENT fields      (ARRAY)*>
<!ELEMENT globals     (ARRAY)*>
<!ELEMENT keys        (ARRAY)*>
<!ELEMENT levels      (ARRAY)*>
<!ELEMENT messages    (ARRAY)*>
<!ELEMENT pages       (ARRAY)*>
<!ELEMENT rooms       (ARRAY)*>
<!ELEMENT vals        (ARRAY)*>
<config>
  <_cvs_default>@(#)$Id: default.xml 474 2008-09-01 22:48:04Z pjf$</_cvs_default>
  <fields>
    <name>app_closed.passwd</name>
    <clear>left</clear>
    <type>password</type>
  </fields>
  <fields>
    <name>app_closed.user</name>
    <width>20</width>
  </fields>
  <fields>
    <name>feedback.body</name>
    <height>24</height>
    <palign>left</palign>
    <sep>&amp;nbsp;&amp;nbsp;&amp;nbsp;</sep>
    <type>textarea</type>
    <width>72</width>
  </fields>
  <globals>
    <name>addtag</name>
    <value>..Add..</value>
  </globals>
  <globals>
    <name>app_closed</name>
    <value></value>
  </globals>
  <globals>
    <name>application</name>
    <value>Munchies</value>
  </globals>
  <globals>
    <name>company</name>
    <value>RoxSoft</value>
  </globals>
  <globals>
    <name>copyright</name>
    <value>Copyright (c) 2009 Peter Flanigan</value>
  </globals>
  <globals>
    <name>feedback_email</name>
    <value>support@roxsoft.co.uk</value>
  </globals>
  <globals>
    <name>logo</name>
    <value>logo.png</value>
  </globals>
  <globals>
    <name>mailer</name>
    <value>SMTP</value>
  </globals>
  <globals>
    <name>mailer_host</name>
    <value>rolling.roxsoft.group</value>
  </globals>
  <globals>
    <name>max_sess_time</name>
    <value>7200</value>
  </globals>
  <globals>
    <name>newtag</name>
    <value>..New..</value>
  </globals>
  <globals>
    <name>pwidth</name>
    <value>40</value>
  </globals>
  <globals>
    <name>remote_id</name>
    <value>pjf</value>
  </globals>
  <globals>
    <name>ssh_id</name>
    <value>/opt/app-munchies/.ssh/id_rsa</value>
  </globals>
  <globals>
    <name>weblang</name>
    <value>en-gb</value>
  </globals>
  <levels>
    <name>admin</name>
    <acl>@support</acl>
    <state>0</state>
  </levels>
  <levels>
    <name>entrance</name>
    <acl>any</acl>
    <state>0</state>
  </levels>
  <levels>
    <name>library</name>
    <acl>any</acl>
    <state>0</state>
  </levels>
  <messages>
    <name>eNotImplemented</name>
  </messages>
  <pages>
    <name>about</name>
    <class>centre narrow</class>
    <columns>1</columns>
  </pages>
  <pages>
    <name>app_closed</name>
    <class>centre narrow</class>
    <columns>1</columns>
  </pages>
  <pages>
    <name>closed</name>
    <class>centre narrow</class>
    <columns>1</columns>
  </pages>
  <pages>
    <name>company</name>
    <class>centre narrow</class>
    <columns>1</columns>
  </pages>
  <pages>
    <name>cracker</name>
    <class>centre narrow</class>
    <columns>1</columns>
  </pages>
  <pages>
    <name>default</name>
    <class>centre narrow</class>
    <columns>1</columns>
  </pages>
  <pages>
    <name>error</name>
    <class>centre narrow</class>
    <columns>1</columns>
  </pages>
  <rooms>
    <name>feedback</name>
    <acl>@users</acl>
    <state>1</state>
  </rooms>
  <rooms>
    <name>lock_display</name>
    <acl>@support</acl>
    <state>1</state>
  </rooms>
</config>
