var/etc/entrance.xml

<!ELEMENT acl         (ARRAY)*>
<!ELEMENT buttons     (ARRAY)*>
<!ELEMENT credentials (ARRAY)*>
<!ELEMENT fields      (ARRAY)*>
<!ELEMENT globals     (ARRAY)*>
<!ELEMENT keys        (ARRAY)*>
<!ELEMENT levels      (ARRAY)*>
<!ELEMENT messages    (ARRAY)*>
<!ELEMENT pages       (ARRAY)*>
<!ELEMENT rooms       (ARRAY)*>
<!ELEMENT vals        (ARRAY)*>
<config>
  <_cvs_level>@(#)$Id: entrance.xml 641 2009-04-06 20:04:44Z pjf $</_cvs_level>
  <fields>
    <name>authentication.login_text</name>
    <class>centre</class>
    <clear>left</clear>
    <type>label</type>
  </fields>
  <fields>
    <name>authentication.passwd</name>
    <class>centre</class>
    <clear>left</clear>
    <max_length>10</max_length>
    <onkeypress>behaviour.submit.submitOnReturn(event, 'Login')</onkeypress>
    <type>password</type>
    <width>10</width>
  </fields>
  <fields>
    <name>authentication.user</name>
    <class>centre</class>
    <max_length>10</max_length>
    <onkeypress>behaviour.submit.submitOnReturn(event, 'Login')</onkeypress>
    <validate>isValidIdentifier</validate>
    <width>10</width>
  </fields>
  <fields>
    <name>authentication_reminder.login_now_text</name>
    <class>narrow</class>
    <type>label</type>
  </fields>
  <fields>
    <name>change_password.newPass1</name>
    <clear>left</clear>
    <max_length>10</max_length>
    <required>1</required>
    <subtype>verify</subtype>
    <type>password</type>
    <validate>isValidPassword</validate>
    <width>10</width>
  </fields>
  <fields>
    <name>change_password.oldPass</name>
    <clear>left</clear>
    <max_length>10</max_length>
    <type>password</type>
    <width>10</width>
  </fields>
  <fields>
    <name>change_password.realm</name>
    <onchange>submit()</onchange>
    <type>popupMenu</type>
  </fields>
  <fields>
    <name>change_password.user</name>
    <clear>left</clear>
    <max_length>10</max_length>
    <required>1</required>
    <validate>isValidIdentifier</validate>
    <width>10</width>
  </fields>
  <fields>
    <name>information.data</name>
    <class>info</class>
    <container>0</container>
    <type>paragraphs</type>
  </fields>
  <fields>
    <name>register.captcha</name>
    <clear>left</clear>
    <type>image</type>
  </fields>
  <fields>
    <name>register.email_address</name>
    <clear>left</clear>
    <max_length>64</max_length>
    <required>1</required>
    <validate>isValidEmail</validate>
    <width>32</width>
  </fields>
  <fields>
    <name>register.first_name</name>
    <max_length>32</max_length>
    <required>1</required>
    <validate>isMandatory</validate>
    <width>32</width>
  </fields>
  <fields>
    <name>register.home_phone</name>
    <clear>left</clear>
    <max_length>32</max_length>
    <width>16</width>
  </fields>
  <fields>
    <name>register.last_name</name>
    <clear>left</clear>
    <max_length>32</max_length>
    <required>1</required>
    <validate>isMandatory</validate>
    <width>32</width>
  </fields>
  <fields>
    <name>register.location</name>
    <clear>left</clear>
    <max_length>32</max_length>
    <width>32</width>
  </fields>
  <fields>
    <name>register.newPass1</name>
    <clear>left</clear>
    <max_length>10</max_length>
    <required>1</required>
    <subtype>verify</subtype>
    <type>password</type>
    <validate>isValidPassword</validate>
    <width>10</width>
  </fields>
  <fields>
    <name>register.project</name>
    <clear>left</clear>
    <max_length>32</max_length>
    <width>32</width>
  </fields>
  <fields>
    <name>register.security</name>
    <clear>left</clear>
    <max_length>10</max_length>
    <required>1</required>
    <validate>isMandatory</validate>
    <width>10</width>
  </fields>
  <fields>
    <name>register.work_phone</name>
    <clear>left</clear>
    <max_length>32</max_length>
    <width>16</width>
  </fields>
  <keys>
    <name>change_password</name>
    <vals>
      <name>realm</name>
      <key>0</key>
    </vals>
  </keys>
  <pages>
    <name>reception</name>
    <class>narrow</class>
    <columns>1</columns>
  </pages>
  <pages>
    <name>tutorial</name>
    <class>narrow centre</class>
    <columns>2</columns>
  </pages>
  <rooms>
    <name>activate_account</name>
    <acl>any</acl>
    <state>1</state>
  </rooms>
  <rooms>
    <name>authentication</name>
    <acl>any</acl>
    <quick_link>3</quick_link>
    <state>0</state>
  </rooms>
  <rooms>
    <name>change_password</name>
    <acl>any</acl>
    <state>0</state>
  </rooms>
  <rooms>
    <name>clock</name>
    <acl>any</acl>
    <state>0</state>
  </rooms>
  <rooms>
    <name>custom</name>
    <acl>any</acl>
    <state>0</state>
  </rooms>
  <rooms>
    <name>documentation</name>
    <acl>any</acl>
    <quick_link>4</quick_link>
    <state>0</state>
  </rooms>
  <rooms>
    <name>module_docs</name>
    <acl>any</acl>
    <state>0</state>
  </rooms>
  <rooms>
    <name>modules</name>
    <acl>any</acl>
    <state>0</state>
  </rooms>
  <rooms>
    <name>reception</name>
    <acl>any</acl>
    <state>0</state>
  </rooms>
  <rooms>
    <name>register</name>
    <acl>any</acl>
  </rooms>
  <rooms>
    <name>sampler</name>
    <acl>any</acl>
    <state>0</state>
  </rooms>
  <rooms>
    <name>sitemap</name>
    <acl>any</acl>
    <quick_link>2</quick_link>
    <state>0</state>
  </rooms>
  <rooms>
    <name>test_card</name>
    <acl>any</acl>
    <state>1</state>
  </rooms>
  <rooms>
    <name>tutorial</name>
    <acl>any</acl>
    <state>0</state>
  </rooms>
  <rooms>
    <name>wikipedia</name>
    <acl>any</acl>
    <state>0</state>
  </rooms>
</config>
