var/etc/library.xml

<!ELEMENT acl         (ARRAY)*>
<!ELEMENT buttons     (ARRAY)*>
<!ELEMENT credentials (ARRAY)*>
<!ELEMENT fields      (ARRAY)*>
<!ELEMENT globals     (ARRAY)*>
<!ELEMENT keys        (ARRAY)*>
<!ELEMENT levels      (ARRAY)*>
<!ELEMENT messages    (ARRAY)*>
<!ELEMENT pages       (ARRAY)*>
<!ELEMENT rooms       (ARRAY)*>
<!ELEMENT vals        (ARRAY)*>
<config>
  <_cvs_level>@(#)$Id: library.xml 793 2009-06-30 16:48:31Z pjf $</_cvs_level>
  <credentials>
    <name>library</name>
    <driver>mysql</driver>
    <host>localhost</host>
    <password>encrypt=U2FsdGVkX18KpaNpV1opboIcpxUeXvBDK0ubAxxwOYg=</password>
    <port>3306</port>
    <user>root</user>
  </credentials>
  <fields>
    <name>catalog.catalog</name>
    <onchange>submit()</onchange>
    <pwidth>5em</pwidth>
    <type>popupMenu</type>
  </fields>
  <fields>
    <name>catalog.catalog_type</name>
    <onchange>submit()</onchange>
    <pwidth>8em</pwidth>
    <type>popupMenu</type>
  </fields>
  <fields>
    <name>catalog.colour_type</name>
    <onchange>submit()</onchange>
    <pwidth>8em</pwidth>
    <type>popupMenu</type>
  </fields>
  <fields>
    <name>catalog.min_count</name>
    <onchange>submit()</onchange>
    <pwidth>7em</pwidth>
    <type>popupMenu</type>
  </fields>
  <fields>
    <name>catalog.sort_field</name>
    <onchange>submit()</onchange>
    <pwidth>7em</pwidth>
    <type>popupMenu</type>
  </fields>
  <fields>
    <name>collection_view.catalog</name>
    <onchange>submit()</onchange>
    <palign>right</palign>
    <type>popupMenu</type>
  </fields>
  <fields>
    <name>collection_view.links</name>
    <clear>left</clear>
    <sep>[% nbsp %][% nbsp %][% nbsp %]</sep>
    <type>groupMembership</type>
  </fields>
  <fields>
    <name>collection_view.subject</name>
    <clear>left</clear>
    <onchange>submit()</onchange>
    <palign>right</palign>
    <type>popupMenu</type>
  </fields>
  <fields>
    <name>ingredients.excerpt</name>
    <class>clearLeft</class>
    <type>label</type>
  </fields>
  <fields>
    <name>ingredients.file</name>
    <class>info</class>
    <container>1</container>
    <pwidth>0</pwidth>
    <stepno>0</stepno>
    <type>label</type>
  </fields>
  <fields>
    <name>ingredients.key</name>
    <class>info</class>
    <container>1</container>
    <pwidth>0</pwidth>
    <stepno>0</stepno>
    <type>label</type>
  </fields>
  <fields>
    <name>ingredients.score</name>
    <class>info clearLeft</class>
    <container>1</container>
    <pwidth>0</pwidth>
    <type>label</type>
  </fields>
  <fields>
    <name>ingredients.search_expression</name>
    <class>heading</class>
    <type>label</type>
  </fields>
  <fields>
    <name>ingredients.search_results</name>
    <class>heading clearLeft</class>
    <type>label</type>
  </fields>
  <fields>
    <name>ingredients.title</name>
    <class>searchFade clearLeft</class>
    <type>anchor</type>
  </fields>
  <fields>
    <name>links_view.catalog</name>
    <onchange>submit()</onchange>
    <type>popupMenu</type>
  </fields>
  <fields>
    <name>links_view.desc</name>
    <clear>left</clear>
    <type>textarea</type>
    <width>60</width>
  </fields>
  <fields>
    <name>links_view.link</name>
    <clear>left</clear>
    <onchange>submit()</onchange>
    <type>popupMenu</type>
  </fields>
  <fields>
    <name>links_view.linkName</name>
    <max_length>40</max_length>
    <required>1</required>
    <validate>isValidIdentifier</validate>
    <width>40</width>
  </fields>
  <fields>
    <name>links_view.linkURL</name>
    <clear>left</clear>
    <max_length>255</max_length>
    <validate>isValidURL</validate>
    <width>60</width>
  </fields>
  <fields>
    <name>links_view.nid</name>
    <clear>left</clear>
    <type>popupMenu</type>
  </fields>
  <fields>
    <name>links_view.title</name>
    <clear>left</clear>
    <max_length>40</max_length>
    <required>1</required>
    <type>textfield</type>
    <width>40</width>
  </fields>
  <fields>
    <name>nodes_view.catalog</name>
    <onchange>submit()</onchange>
    <type>popupMenu</type>
  </fields>
  <fields>
    <name>nodes_view.catalogDesc</name>
    <clear>left</clear>
    <max_length>40</max_length>
    <required>1</required>
    <type>textfield</type>
    <width>40</width>
  </fields>
  <fields>
    <name>nodes_view.subject</name>
    <clear>left</clear>
    <onchange>submit()</onchange>
    <type>popupMenu</type>
  </fields>
  <fields>
    <name>nodes_view.subjectDesc</name>
    <clear>left</clear>
    <max_length>40</max_length>
    <required>1</required>
    <validate>isMandatory</validate>
    <width>40</width>
  </fields>
  <fields>
    <name>recipes_view.categories</name>
    <clear>left</clear>
    <max_length>40</max_length>
    <type>freelist</type>
    <width>20</width>
  </fields>
  <fields>
    <name>recipes_view.directions</name>
    <align>right</align>
    <clear>left</clear>
    <height>10</height>
    <type>textarea</type>
    <width>60</width>
  </fields>
  <fields>
    <name>recipes_view.file</name>
    <onchange>submit()</onchange>
    <stepno>0</stepno>
    <type>popupMenu</type>
  </fields>
  <fields>
    <name>recipes_view.ingredients</name>
    <clear>left</clear>
    <edit>1</edit>
    <select>right</select>
    <type>table</type>
  </fields>
  <fields>
    <name>recipes_view.name</name>
    <clear>left</clear>
    <max_length>255</max_length>
    <required>1</required>
    <stepno>0</stepno>
    <validate>isMandatory</validate>
    <width>40</width>
  </fields>
  <fields>
    <name>recipes_view.recipe</name>
    <clear>left</clear>
    <onchange>submit()</onchange>
    <stepno>0</stepno>
    <type>popupMenu</type>
  </fields>
  <fields>
    <name>recipes_view.title</name>
    <max_length>128</max_length>
    <required>1</required>
    <validate>isMandatory</validate>
    <width>40</width>
  </fields>
  <fields>
    <name>recipes_view.yield</name>
    <clear>left</clear>
    <max_length>40</max_length>
    <width>20</width>
  </fields>
  <fields>
    <name>search.expression</name>
    <palign>left</palign>
    <pwidth>0</pwidth>
    <sep>0</sep>
    <width>18</width>
  </fields>
  <fields>
    <name>search.search</name>
    <src>search.png</src>
    <tiptype>normal</tiptype>
    <type>button</type>
  </fields>
  <globals>
    <name>columns</name>
    <value>3</value>
  </globals>
  <keys>
    <name>catalog</name>
    <vals>
      <name>catalog</name>
      <key>5</key>
    </vals>
    <vals>
      <name>catalog_type</name>
      <key>cloud</key>
    </vals>
    <vals>
      <name>colour_type</name>
      <key>pallet</key>
    </vals>
    <vals>
      <name>min_count</name>
      <key>32</key>
    </vals>
    <vals>
      <name>sort_field</name>
      <key>tag</key>
    </vals>
  </keys>
  <keys>
    <name>collection_view</name>
    <vals>
      <name>catalog</name>
      <key>1</key>
    </vals>
    <vals>
      <name>subject</name>
      <key>0</key>
    </vals>
  </keys>
  <keys>
    <name>ingredients</name>
    <vals>
      <name>search_expression</name>
      <key>0</key>
    </vals>
  </keys>
  <keys>
    <name>links_view</name>
    <vals>
      <name>catalog</name>
    </vals>
    <vals>
      <name>link</name>
      <default>[% newtag %]</default>
    </vals>
  </keys>
  <keys>
    <name>nodes_view</name>
    <vals>
      <name>catalog</name>
      <key>0</key>
    </vals>
    <vals>
      <name>name</name>
      <key>vals</key>
    </vals>
    <vals>
      <name>subject</name>
      <key>0</key>
    </vals>
  </keys>
  <keys>
    <name>recipes_view</name>
    <vals>
      <name>file</name>
      <key>0</key>
    </vals>
    <vals>
      <name>recipe</name>
      <key>0</key>
    </vals>
  </keys>
  <pages>
    <name>ingredients</name>
    <class>centre</class>
    <columns>1</columns>
  </pages>
  <pages>
    <name>recatalog</name>
    <class>centre</class>
    <columns>1</columns>
  </pages>
  <pages>
    <name>reception</name>
    <class>centre</class>
    <columns>1</columns>
  </pages>
  <rooms>
    <name>admin</name>
    <acl>@support</acl>
    <state>0</state>
  </rooms>
  <rooms>
    <name>catalog</name>
    <acl>any</acl>
    <quick_link>1</quick_link>
    <state>0</state>
  </rooms>
  <rooms>
    <name>collection_view</name>
    <acl>@support</acl>
    <state>0</state>
  </rooms>
  <rooms>
    <name>ingredients</name>
    <acl>any</acl>
    <state>0</state>
  </rooms>
  <rooms>
    <name>links_view</name>
    <acl>@support</acl>
    <state>0</state>
  </rooms>
  <rooms>
    <name>nodes_view</name>
    <acl>@support</acl>
    <state>0</state>
  </rooms>
  <rooms>
    <name>recatalog_view</name>
    <acl>@support</acl>
    <state>0</state>
  </rooms>
  <rooms>
    <name>reception</name>
    <acl>any</acl>
    <state>0</state>
  </rooms>
  <rooms>
    <name>recipes_view</name>
    <acl>@users</acl>
    <state>0</state>
  </rooms>
</config>
