var/etc/library_en.xml

<!ELEMENT acl         (ARRAY)*>
<!ELEMENT buttons     (ARRAY)*>
<!ELEMENT credentials (ARRAY)*>
<!ELEMENT fields      (ARRAY)*>
<!ELEMENT globals     (ARRAY)*>
<!ELEMENT keys        (ARRAY)*>
<!ELEMENT levels      (ARRAY)*>
<!ELEMENT messages    (ARRAY)*>
<!ELEMENT pages       (ARRAY)*>
<!ELEMENT rooms       (ARRAY)*>
<!ELEMENT vals        (ARRAY)*>
<config>
  <_cvs_lang_level>@(#)$Id: library_en.xml 639 2009-04-05 17:47:16Z pjf $</_cvs_lang_level>
  <buttons>
    <name>collection_view.add</name>
    <error>Failed to add the link(s) because</error>
    <help>Add the selected links to the selected subject</help>
  </buttons>
  <buttons>
    <name>collection_view.remove</name>
    <error>Failed to remove the link(s) because</error>
    <help>Remove the selected links from the selected subject</help>
  </buttons>
  <buttons>
    <name>links_view.delete</name>
    <error>Failed to delete the link because</error>
    <help>Delete the [% link %] link</help>
    <prompt>Are you sure you want to delete the [% link %] link ?</prompt>
  </buttons>
  <buttons>
    <name>links_view.insert</name>
    <error>Failed to insert the link because</error>
    <help>Insert the new link record into the database</help>
  </buttons>
  <buttons>
    <name>links_view.save</name>
    <error>Failed to save the link because</error>
    <help>Update the database with your changes to this link record</help>
  </buttons>
  <buttons>
    <name>nodes_view.delete</name>
    <error>Failed to delete the subject definition because</error>
    <help>Remove the selected catalog subject definition and its associated collection</help>
    <prompt>Are you sure you want to delete the [% ckeys.subject %] subject from the [% ckeys.catalog %] catalog ?</prompt>
  </buttons>
  <buttons>
    <name>nodes_view.insert</name>
    <error>Failed to insert the subject definition because</error>
    <help>Create a new catalog subject definition</help>
  </buttons>
  <buttons>
    <name>nodes_view.save</name>
    <error>Failed to save the subject definition because</error>
    <help>Save changes to the this catalog subject definition</help>
  </buttons>
  <buttons>
    <name>recatalog_view.execute</name>
    <error>Failed to recatalog the database because</error>
    <help>Recatalog the complete recipe database</help>
  </buttons>
  <buttons>
    <name>recipes_view.delete</name>
    <error>Failed to delete the recipe because</error>
    <help>Delete the selected recipe from this file</help>
    <prompt>Delete the [% ckeys.recipe %] recipe from the [% ckeys.file %] file ?</prompt>
  </buttons>
  <buttons>
    <name>recipes_view.index</name>
    <error>Failed to index the file because</error>
    <help>Index this file in the recipe catalog</help>
  </buttons>
  <buttons>
    <name>recipes_view.insert</name>
    <error>Failed to insert the recipe because</error>
    <help>Insert the recipe into the file</help>
  </buttons>
  <buttons>
    <name>recipes_view.save</name>
    <error>Failed to save the recipe because</error>
    <help>Update the file with your changes to this recipe</help>
  </buttons>
  <fields>
    <name>catalog.catalog</name>
    <prompt>Catalog</prompt>
  </fields>
  <fields>
    <name>catalog.catalog_type</name>
    <prompt>Display[% nbsp %]type</prompt>
  </fields>
  <fields>
    <name>catalog.colour_type</name>
    <prompt>Colour[% nbsp %]type</prompt>
  </fields>
  <fields>
    <name>catalog.min_count</name>
    <prompt>Min.[% nbsp %]count</prompt>
  </fields>
  <fields>
    <name>catalog.sort_field</name>
    <prompt>Sort[% nbsp %]field</prompt>
  </fields>
  <fields>
    <name>collection_view.catalog</name>
    <prompt>Select a catalog</prompt>
  </fields>
  <fields>
    <name>collection_view.links</name>
    <atitle>All Links</atitle>
    <ctitle>Current Links</ctitle>
    <fhelp>&lt;p&gt;Select from the All Links list to include that link in the [% subject %] subject and then click&amp;nbsp;add&amp;nbsp;(+)&lt;/p&gt;&lt;p&gt;&lt;b&gt;OR&lt;/b&gt;&lt;/p&gt;&lt;p&gt;Select from the Current Links list to exclude that link from the [% subject %] subject and then click&amp;nbsp;remove&amp;nbsp;(-)&lt;/p&gt;</fhelp>
  </fields>
  <fields>
    <name>collection_view.subject</name>
    <prompt>Select a subject</prompt>
  </fields>
  <fields>
    <name>ingredients.file</name>
    <prompt>File</prompt>
  </fields>
  <fields>
    <name>ingredients.key</name>
    <prompt>Key</prompt>
  </fields>
  <fields>
    <name>ingredients.score</name>
    <prompt>Score</prompt>
  </fields>
  <fields>
    <name>linkEditor.linkURL</name>
  </fields>
  <fields>
    <name>links_view.catalog</name>
    <prompt>Select catalog</prompt>
  </fields>
  <fields>
    <name>links_view.desc</name>
    <prompt>Enter a helpful description for the fly over tool tip</prompt>
  </fields>
  <fields>
    <name>links_view.link</name>
    <prompt>Select a link</prompt>
    <tip>Select [% newtag %] to create one</tip>
  </fields>
  <fields>
    <name>links_view.linkName</name>
    <prompt>Enter link name</prompt>
    <tip>Link names must be unique and can only contain the valid identifier characters a-z, A-Z, 0-9 and _</tip>
  </fields>
  <fields>
    <name>links_view.linkURL</name>
    <prompt>Enter the URL</prompt>
  </fields>
  <fields>
    <name>links_view.nid</name>
    <prompt>Select the associated catalog</prompt>
    <tip>Select the Root catalog to share the link</tip>
  </fields>
  <fields>
    <name>links_view.title</name>
    <prompt>Enter the display text</prompt>
  </fields>
  <fields>
    <name>nodes_view.catalog</name>
    <prompt>Select a catalog to edit</prompt>
    <tip>Select [% newtag %] to create one</tip>
  </fields>
  <fields>
    <name>nodes_view.catalogDesc</name>
    <prompt>Enter the catalog description</prompt>
    <tip>Catalog names must be unique</tip>
  </fields>
  <fields>
    <name>nodes_view.subject</name>
    <prompt>Select a subject</prompt>
    <tip>Select [% newtag %] to create one</tip>
  </fields>
  <fields>
    <name>nodes_view.subjectDesc</name>
    <prompt>Enter the subject description</prompt>
    <tip>Subject names must be unique</tip>
  </fields>
  <fields>
    <name>recipes_view.categories</name>
    <prompt>Enter categories for this recipe</prompt>
  </fields>
  <fields>
    <name>recipes_view.directions</name>
    <prompt>Enter the recipe directions</prompt>
  </fields>
  <fields>
    <name>recipes_view.file</name>
    <prompt>Select a file</prompt>
    <tip>Select [% newtag %] to create one</tip>
  </fields>
  <fields>
    <name>recipes_view.ingredients</name>
    <prompt>Enter the ingredients</prompt>
  </fields>
  <fields>
    <name>recipes_view.name</name>
    <prompt>Enter the file name</prompt>
    <tip>File names must be unique and can only contain the valid identifier characters a-z, A-Z, 0-9 and _</tip>
  </fields>
  <fields>
    <name>recipes_view.recipe</name>
    <prompt>Select a recipe</prompt>
    <tip>Select [% newtag %] to create one</tip>
  </fields>
  <fields>
    <name>recipes_view.title</name>
    <prompt>Enter the recipe title</prompt>
    <tip>Recipe names must be unique and can only contain the valid simple string characters a-z, A-Z, 0-9, _ and space</tip>
  </fields>
  <fields>
    <name>recipes_view.yield</name>
    <prompt>How much does the recipe yield ?</prompt>
  </fields>
  <fields>
    <name>search.expression</name>
    <prompt>Enter the ingredients to search for</prompt>
  </fields>
  <fields>
    <name>search.search</name>
    <tip>Search for these ingredients</tip>
  </fields>
  <messages>
    <name>catalogInstructions</name>
    <markdown>1</markdown>
    <text>
Select a catalog from the popup list at the bottom
of the screen. Change the display options to alter its appearance.

Click on the subject headings to expand/collapse the list of links in
that collection. Scroll through the list of links for that subject.
Follow the links to access the different pages within the subject
    </text>
  </messages>
  <messages>
    <name>collection_view.edit</name>
    <text>Maintain the links in this collection</text>
  </messages>
  <messages>
    <name>conversion</name>
    <text>&lt;div class=&quot;info&quot;&gt;
         Temperatures&lt;br&gt;
         &lt;br&gt;
         Gas mark 1 = 140C / 275F&lt;br&gt;
         Gas mark 2 = 150C / 300F&lt;br&gt;
         Gas mark 3 = 170C / 325F&lt;br&gt;
         Gas mark 4 = 180C / 350F&lt;br&gt;
         Gas mark 5 = 190C / 375F&lt;br&gt;
         Gas mark 6 = 200C / 400F&lt;br&gt;
         Gas mark 7 = 220C / 425F&lt;br&gt;
         Gas mark 8 = 240C / 475F&lt;br&gt;
         Gas mark 9 = 270C / 525F&lt;br&gt;
         &lt;br&gt;
         Weights and Measures&lt;br&gt;
         &lt;br&gt;
         1/4 cup = 60ml = 2oz = 56 grams&lt;br&gt;
         1/3 cup = 80ml = 2 3/4oz = 70 grams&lt;br&gt;
         1/2 cup = 120ml = 4oz = 112 grams&lt;br&gt;
         1   cup = 240ml = 8oz = 224 grams&lt;/div&gt;
     </text>
  </messages>
  <messages>
    <name>eBadLink</name>
    <text>Link [_1] does not have a URL defined</text>
  </messages>
  <messages>
    <name>eNoLink</name>
    <text>Link [_1] does not exist</text>
  </messages>
  <messages>
    <name>linkUpdated</name>
    <markdown></markdown>
    <text>Updated the [_1] link</text>
  </messages>
  <messages>
    <name>links_added</name>
    <text>The [_1] subject now contains these links: [_2]</text>
  </messages>
  <messages>
    <name>links_removed</name>
    <text>The [_1] subject no longer contains these links: [_2]</text>
  </messages>
  <messages>
    <name>links_view.edit</name>
    <text>Edit the fields of the selected link</text>
  </messages>
  <messages>
    <name>links_view.select</name>
    <text>Maintain the links available to the [% catalog %] catalog</text>
  </messages>
  <messages>
    <name>nodes_view.select</name>
    <text>Maintain the subject definitions for the this catalog</text>
  </messages>
  <messages>
    <name>recipes_view.edit</name>
    <text>Edit the fields of the selected recipe</text>
  </messages>
  <messages>
    <name>recipes_view.select</name>
    <text>Maintain recipes on this server</text>
  </messages>
  <pages>
    <name>ingredients</name>
    <heading>[% nbsp %]</heading>
    <vals>
      <name>para0</name>
      <text>Enter the ingedients to search for in the text field on the
  search panel of the side bar. Click the search button. Results of
  the search are displayed using a paged query</text>
    </vals>
    <vals>
      <name>subHeading0</name>
      <text>Ingredients Search</text>
    </vals>
  </pages>
  <pages>
    <name>recatalog</name>
    <heading>[% nbsp %]</heading>
    <vals>
      <name>para0</name>
      <text>Click the execute button to start a complete recataloging of the recipe database in the background. This will take a *long* time to complete</text>
    </vals>
    <vals>
      <name>subHeading0</name>
      <text>Recatalog Recipe Database</text>
    </vals>
  </pages>
  <pages>
    <name>reception</name>
    <heading>[% nbsp %]</heading>
    <vals>
      <name>para0</name>
      <text>The Catalog screen will let you browse this collection of
  links. Links are organised as a set of catalogs each catalog has its
  own index.</text>
    </vals>
    <vals>
      <name>subHeading0</name>
      <text>A Catalogued Library of Links</text>
    </vals>
  </pages>
  <rooms>
    <name>admin</name>
    <text>Admin</text>
    <tip>Maintain the catalog</tip>
  </rooms>
  <rooms>
    <name>catalog</name>
    <text>Catalog</text>
    <tip>Browse the links in a given catalog</tip>
  </rooms>
  <rooms>
    <name>collection_view</name>
    <text>Collection</text>
    <tip>Maintain the links available to a given collection</tip>
  </rooms>
  <rooms>
    <name>ingredients</name>
    <text>Ingredients</text>
    <tip>Search for recipes by ingredients</tip>
  </rooms>
  <rooms>
    <name>links_view</name>
    <text>Links</text>
    <tip>Maintain the the list of links</tip>
  </rooms>
  <rooms>
    <name>nodes_view</name>
    <text>Nodes</text>
    <tip>Maintain the the catalogs/subjects</tip>
  </rooms>
  <rooms>
    <name>recatalog_view</name>
    <text>Recatalog</text>
    <tip>Recatalog the complete recipe database</tip>
  </rooms>
  <rooms>
    <name>reception</name>
    <text>Reception</text>
    <tip>Welcome to this level</tip>
  </rooms>
  <rooms>
    <name>recipes_view</name>
    <text>Recipes</text>
    <tip>Create and edit recipes</tip>
  </rooms>
</config>
